.ssctenTopDiv {
    /* border: 2px solid yellow; */
    padding: 0px 150px;
}

.ssctenMain {
    /* border: 2px solid black; */
    margin-top: 150px;
    display: flex;
    align-items: center;
}

.ssctenLeftDiv {
    /* border: 2px solid red; */
    width: 1000px !important;
    height: 450px !important;
}

.ssctenLeftDiv img {
    width: 100%;
    height: 100%;
}

.ssctenRightDiv {
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.ssctenRightDiv h3 {
    color: #D00000;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.ssctenRightDiv p {
    color: #000;
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    line-height: 34.5px;
}

.ssctenSecondDiv {
    /* border: 2px solid black; */
    background-color: #D00000;
    padding: 50px 150px;
    margin-top: 50px;
}

.ssctenSeconDiv h1 {
    color: white;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    margin-bottom: 30px;
}

.ssctenSeconMainDiv {
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.ssctenMultipleText {
    /* border: 2px solid black; */
    width: 500px;
    height: 160px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.ssctenMultipleInnerDiv {
    /* border: 2px solid red; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 10px;
}

.ssctenMultipleInnerDiv img {
    width: 4%;
    height: 100%;
    margin-right: 10px;
}

.ssctenMultipleInnerDiv h3 {
    color: white;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.36px;
    margin-top: 8px;
}

.ssctenMultipleText p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.24px;
}

.ssctenThirdDiv{
    /* border: 2px solid black; */
    padding: 50px 150px;
}

.ssctenMainDiv2{
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.ssctenMultipleText2 {
    /* border: 2px solid black; */
    width: 500px;
    height: 180px;
    margin-right: 50px;
    margin-bottom: 20px;
}

#matrixBoxx{
    /* border: 2px solid green; */
    width: 500px;
    height: 260px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.ssctenMultipleInnerDiv2 {
    /* border: 2px solid red; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 10px;
}

.ssctenMultipleInnerDiv2 img {
    width: 4%;
    height: 100%;
    margin-right: 10px;
}

.ssctenMultipleInnerDiv2 h3 {
    color: #D00000;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.36px;
    margin-top: 8px;
}

.ssctenMultipleText2 p {
    color: black;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.24px;
    text-align: justify;
}
.ssctenThirdDiv h1 {
    color: black;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    margin-bottom: 30px;
}

.matrixDiv{
    /* border: 2px solid green; */
    width: 200px;
    height: 200px;
}
.matrixDiv img{
    width: 100%;
    height: 100%;
}

.ssctenLastDiv {
    padding: 20px 150px;
}

.ssctenFaq {
    color: #000;
    font-size: 35.898px;
    font-weight: 400;
}
.ssctenTriviaImgDiv{
    /* border: 2px solid black; */
    margin-bottom: 50px;
    width: 100%;
    height: auto;
}
.ssctenTriviaImgDiv img{
    width: 100%;
    height: 100%;
}






@media (max-width:500px) {
    .ssctenTopDiv {
        /* border: 2px solid yellow; */
        padding: 0px 20px;
    }

    .ssctenMain {
        /* border: 2px solid black; */
        margin-top: 80px;
        display: flex;
        flex-direction: column;
    }

    .ssctenLeftDiv {
        width: 100% !important;
        height: 100% !important;
    }

    .ssctenRightDiv h3 {
        color: #D00000;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }

    .ssctenRightDiv p {
        color: #000;
        text-align: justify;
        font-size: 12px;
        font-weight: 400;
        line-height: 24.5px;
    }

    .ssctenRightDiv {
        /* border: 2px solid green; */
        margin-top: 20px;
        padding-left: 0px;
    }

    .ssctenSecondDiv {
        /* border: 2px solid black; */
        background-color: #D00000;
        padding: 50px 21px;
        margin-top: 50px;
    }

    .ssctenSeconDiv h1 {
        color: white;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.72px;
        margin-bottom: 30px;
        text-align: center;
    }

    .ssctenSeconMainDiv {
        /* border: 2px solid green; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .ssctenMultipleText {
        /* border: 2px solid black; */
        width: 500px;
        height: auto;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .ssctenMultipleInnerDiv {
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .ssctenMultipleInnerDiv h3 {
        color: white;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: -0.36px;
        margin-top: 8px;
    }

    .ssctenMultipleText p {
        color: white;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: -0.24px;
        text-align: center;
    }
    .ssctenLastDiv {
        padding: 20px 10px;
    }

    .ssctenFaq {
        color: #000;
        font-size: 22.898px;
        font-weight: 400;
        margin-left: 10px;
    }
    .ssctenThirdDiv {
        /* border: 2px solid black; */
        padding: 50px 20px;
    }
    .ssctenThirdDiv h1 {
        color: black;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.72px;
        margin-bottom: 30px;
        text-align: center;
    }
    .ssctenMultipleText2 {
        /* border: 2px solid black; */
        width: 500px;
        height: auto;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    .ssctenMultipleInnerDiv2 {
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    #ssctenFirst{
        width: 500px;
        height: auto;
        margin-right: 0px;
        margin-bottom: 0px;
        /* border: 2px solid red; */
    }
    .ssctenMultipleInnerDiv2 h3 {
        color: #D00000;
        font-size: 17px;
        font-weight: 700;
        letter-spacing: -0.36px;
        margin-top: 8px;
    }
    .ssctenMultipleText2 p {
        color: black;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.24px;
        text-align: center;
    }
    #matrixBoxx {
        /* border: 2px solid green; */
        width: 500px;
        height: 260px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .ssctenTriviaImgDiv{
        /* border: 2px solid black; */
        margin-bottom: 0px;
        width: 100%;
        height: auto;
    }
    .ssctenTriviaImgDiv img{
        width: 100%;
        height: 100%;
    }
    #icseFirst{
        /* border: 2px solid black ; */
        width: 500px;
        height: 300px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
}

@media (min-width:1800px){
    .ssctenSeconDiv {
        margin-top: 50px;
        /* border: 2px solid black; */
    }
    .ssctenSeconMainDiv {
        /* border: 2px solid green; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .ssctenMultipleText {
        /* border: 2px solid red; */
        width: 450px;
        height: 160px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .ssctenMainDiv2{
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .ssctenMultipleText2 {
        /* border: 2px solid black; */
        width: 400px;
        height: 220px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .ssctenTopDiv {
        /* border: 2px solid yellow; */
        padding: 0px 200px;
    }
    .ssctenSecondDiv {
        /* border: 2px solid black; */
        background-color: #D00000;
        padding: 50px 200px;
        margin-top: 50px;
    }
    .ssctenThirdDiv {
        /* border: 2px solid black; */
        padding: 50px 200px;
    }
    .ssctenMultipleInnerDiv h3 {
        color: white;
        font-size: 21px;
        font-weight: 700;
        letter-spacing: -0.36px;
        margin-top: 8px;
    }
    .ssctenMultipleInnerDiv2 h3 {
        color: #D00000;
        font-size: 21px;
        font-weight: 700;
        letter-spacing: -0.36px;
        margin-top: 8px;
    }
    .ssctenLastDiv {
        padding: 20px 200px;
    }
}

@media (min-width:1000px)and (max-width:1396px) {
    .ssctenMultipleText {
        /* border: 2px solid black; */
        width: 500px;
        height: 160px;
        margin-right: 0px;
        margin-bottom: 20px
    }
    .ssctenMultipleText2 {
        /* border: 2px solid black; */
        width: 500px;
        height: 180px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}